# Normalize line endings to LF on commit, checkout as-is on Windows
* text=auto eol=lf

# Explicitly binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text eol=lf
*.webp binary
*.woff binary
*.woff2 binary
